@import "tailwindcss";
@import '@fortawesome/fontawesome-free/css/all.min.css';

html, body {
    overflow-x: hidden;
  }
  
body{
    font-family: "Poppins", serif;
}
.messiri{
    font-family: "El Messiri", serif;
}

.text-primary{
    color: #1b4d94 !important;
}
.hover-text-primary:hover{
    color: #1b4d94 !important;
}

.border-primary{
    border-color: #1b4d94 !important;
}

:root{
    --primary:#1b4d94;
    --hover-primary:#1d3e6d;
}

.bg-primary{
    background-color: var(--primary) !important;
}


